
.chef_shortinfo
  %h1
    = link_to image_tag(@user.image.thumb.url), @user.image.detail.url
    %br
    = "#{@user.chef_name}"
    .chef_edit_button
      = link_to "edit profile", edit_user_path(@user) if can? :update, @user
    
    .chef_profile_add
      = link_to "Add Meal", new_meal_path if can? :create, Meal
    .chef_profile_view_orders
      = link_to "View Orders", new_meal_path if can? :create, Meal
   


    

  %p
    .chef_profile_labels 
      Full name: 
    = @user.name

  %p
    .chef_profile_labels 
      Description:
    = @user.description


  %p 
    .chef_profile_labels 
      Address:
    = link_to "#" do
      - if !@user.address_line_1.blank?
        = @user.address_line_1
        %br
      - if !@user.address_line_2.blank?
        = @user.address_line_2
        %br
      - if !@user.city.blank?
        = @user.city
        %br
      - if !@user.postcode.blank?
        = @user.postcode
        %br
      - if !@user.country.blank?
        = @user.country


  %p
    .chef_profile_labels 
      Phone:
    = @user.phone_number

  %p 
    .chef_profile_labels 
      Avg. rating:
    = @user.average_rating.blank? ? "No reviews yet" : @user.average_rating

%br

- if @user.role? :chef

  %h3 Reviews:

  - if @reviews.any?
    %ul
      - @reviews.each do |review|
        %li
          = ("★" * review.rating) + ("☆" * (5 - review.rating))
          by
          = review.order.user.first_name
      / = paginate @reviews
  - else
    No reviews yet

  %br


  .hover_for_show_user
    %h3 Current Meals on Offer:


    - if @current_meals.any?
      %ul
        - @current_meals.each do |meal|
          %li
            = link_to meal do
              = meal.name 
              |
              = number_to_currency(meal.price, unit: "£")
              |
              = time_tag(meal.start_at)
              |
              = time_tag(meal.end_at)
          %br
    - else
      No current meals 
      %br
      = link_to "Add Meal", new_meal_path, class: "btn" if can? :create, Meal






    .archived_meals 
      %h3 Past Meals:

      - if @archived_meals.any?
        %ul
        - @archived_meals.each do |meal|
          %li

            = link_to meal do
              = meal.name
              &nbsp;
              |
              = number_to_currency(meal.price, unit: "£") 
              / = time_tag(meal.start_at)
              |
              = time_tag(meal.end_at) 


          %br

        / = paginate @archived_meals
      - else
        No archived meals yet

    - if @user == current_user



      %h3 Current Orders:

      / %h3 Current




      - if @current_orders_received.any?
        - @current_orders_received.each do |order|
          = link_to order do
            = "Order ##{order.id} - #{order.meal.name}"
            &nbsp;
            = number_to_currency(order.total, unit: "£")
               
            = time_tag(order.created_at)
      - else
        No orders received yet

    

      .archived_meals 
        %br

        %h3 Past Orders :

        - if @archived_orders_received.any?
          - @archived_orders_received.each do |order|
            = link_to order do       
              = "Order ##{order.id} - #{order.meal.name}"
              &nbsp;
              = number_to_currency(order.total, unit: "£")
              = time_tag(order.created_at)
          / = paginate @archived_orders_received
        - else
          No orders received yet

      %br
      %br


