%h1
  = "#{@user.chef_name}"
  = link_to "", edit_user_path(@user) if can? :update, @user

%br

.row
  .col-xs-3
    %p.pull-right
      %b Full name
  .col-xs-9
    %p= @user.name

.row
  .col-xs-3
    %p.pull-right
      %b Description
  .col-xs-9
    %p= @user.description

.row
  .col-xs-3
    %p.pull-right
      %b Address
  .col-xs-9
    %p
      = link_to "#" do
        - if !@user.address_line_1.blank?
          = @user.address_line_1
          %br
        - if !@user.address_line_2.blank?
          = @user.address_line_2
          %br
        - if !@user.city.blank?
          = @user.city
          %br
        - if !@user.postcode.blank?
          = @user.postcode
          %br
        - if !@user.country.blank?
          = @user.country

.row
  .col-xs-3
    %p.pull-right
      %b Phone
  .col-xs-9
    %p= @user.phone_number

.row
  .col-xs-3
    %p.pull-right
      %b Avg. rating
  .col-xs-9
    %p= @user.average_rating.blank? ? "No reviews yet" : @user.average_rating

%br

- if @user.role? :chef

  %h2 Reviews

  - if @reviews.any?
    - @reviews.each do |review|
      .panel.panel-default
        .panel-body
          = ("★" * review.rating) + ("☆" * (5 - review.rating))
          &nbsp;
          %i
            by
            = review.order.user.first_name
          .pull-right
            = time_tag(review.order.created_at)
    / = paginate @reviews
  - else
    No reviews yet

  %h2
    Meals
    = link_to "✚", new_meal_path if can? :create, Meal

  %h3 Current

  - if @current_meals.any?
    - @current_meals.each do |meal|
      = link_to meal do
        .panel.panel-default
          .panel-body
            = meal.name
            &nbsp;
            = number_to_currency(meal.price, unit: "£")
            .pull-right
              = time_tag(meal.start_at)
              %br
              = time_tag(meal.end_at)
  - else
    No current meals yet

  %h3 Archived

  - if @archived_meals.any?
    - @archived_meals.each do |meal|
      = link_to meal do
        .panel.panel-default
          .panel-body
            = meal.name
            &nbsp;
            = number_to_currency(meal.price, unit: "£")
            .pull-right
              = time_tag(meal.start_at)
              %br
              = time_tag(meal.end_at)
    / = paginate @archived_meals
  - else
    No archived meals yet

  - if @user == current_user

    %h2 Orders received

    %h3 Current

    - if @current_orders_received.any?
      - @current_orders_received.each do |order|
        = link_to order do
          .panel.panel-default
            .panel-body
              = "Order ##{order.id} - #{order.meal.name}"
              &nbsp;
              = number_to_currency(order.total, unit: "£")
              .pull-right
                = time_tag(order.created_at)
    - else
      No orders received yet

    %h3 Archived

    - if @archived_orders_received.any?
      - @archived_orders_received.each do |order|
        = link_to order do
          .panel.panel-default
            .panel-body
              = "Order ##{order.id} - #{order.meal.name}"
              &nbsp;
              = number_to_currency(order.total, unit: "£")
              .pull-right
                = time_tag(order.created_at)
      / = paginate @archived_orders_received
    - else
      No orders received yet
