%h1
  = "#{@user.chef_name}"
  = link_to "", edit_user_path(@user) if can? :update, @user

%p Full name
%p= @user.name

%p Description
%p= @user.description

%p Address
%p
  = link_to "#" do
    - if !@user.address_line_1.blank?
      = @user.address_line_1
      %br
    - if !@user.address_line_2.blank?
      = @user.address_line_2
      %br
    - if !@user.city.blank?
      = @user.city
      %br
    - if !@user.postcode.blank?
      = @user.postcode
      %br
    - if !@user.country.blank?
      = @user.country

%p Phone
%p= @user.phone_number

%p Avg. rating
%p= @user.average_rating.blank? ? "No reviews yet" : @user.average_rating

- if @user.role? :chef

  %h2 Reviews

  - if @reviews.any?
    %ul
      - @reviews.each do |review|
        %li
          = ("★" * review.rating) + ("☆" * (5 - review.rating))
          by
          = review.order.user.first_name
      / = paginate @reviews
  - else
    No reviews yet

  %h2
    Meals
    = link_to "✚", new_meal_path if can? :create, Meal

  %h3 Current

  - if @current_meals.any?
    %ul
      - @current_meals.each do |meal|
        %li
          = link_to meal do
            = meal.name
            = number_to_currency(meal.price, unit: "£")
            = time_tag(meal.start_at)
            = time_tag(meal.end_at)
  - else
    No current meals yet

  %h3 Archived

  - if @archived_meals.any?
    %ul
    - @archived_meals.each do |meal|
      %li
        = link_to meal do
          = meal.name
          = number_to_currency(meal.price, unit: "£")
          = time_tag(meal.start_at)
          = time_tag(meal.end_at)
    / = paginate @archived_meals
  - else
    No archived meals yet

  - if @user == current_user

    %h2 Orders received

    %h3 Current

    - if @current_orders_received.any?
      %ul
        - @current_orders_received.each do |order|
          %li
            = link_to order do
              = "Order ##{order.id} - #{order.meal.name}"
              = number_to_currency(order.total, unit: "£")             
              = time_tag(order.created_at)
    - else
      No orders received yet

    %h3 Archived

    - if @archived_orders_received.any?
      %ul
        - @archived_orders_received.each do |order|
          %li
            = link_to order do       
              = "Order ##{order.id} - #{order.meal.name}"
              &nbsp;
              = number_to_currency(order.total, unit: "£")
              = time_tag(order.created_at)
      / = paginate @archived_orders_received
    - else
      No orders received yet
