%h1 My orders

%ul
  #order_list
    - @orders.each do |order|
      %li
        = link_to order do
          = "Order ##{order.id} - #{order.meal.name}"
          &nbsp;
          = number_to_currency(order.total, unit: "£")

= paginate @orders
