%h1 All my orders:

%ul
  #order_list
    - @orders.each do |order|
      %li
        = link_to order do
          = "Order ##{order.id} - #{order.meal.name}"
          &nbsp;
          = number_to_currency(order.total, unit: "£")
          %br
          %br
          = "Pick up time: #{order.fetch_at}"


= paginate @orders
