%h1 Place order

%br

<<<<<<< HEAD

    %p Meal
 
    %p= link_to @order.meal.name, @order.meal if can? :read, @order.meal


    %p Chef
  
    %p= link_to @order.meal.user.chef_name, @order.meal.user if can? :read, @order.meal.user


    %p Address
 
    %p= @order.meal.user.address
=======
%p Meal
%p= link_to @order.meal.name, @order.meal if can? :read, @order.meal


%p Chef
%p= link_to @order.meal.user.chef_name, @order.meal.user if can? :read, @order.meal.user

%p Address
%p= @order.meal.user.address
>>>>>>> cfa40352eb80e5b0c3b7c0bda5758ae3d322845a

%br

= simple_form_for([@order.meal, @order]) do |f|

  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  = f.input :fetch_at
  = f.input :comments

<<<<<<< HEAD
  
      %p Quantity
    
      %p= "#{@order.meal.quantity} portions available"

      %p Price
   
      %p= number_to_currency(@order.meal.price, unit: "£")
=======
%p Quantity
%p= "#{@order.meal.quantity} portions available"

%p Price
%p= number_to_currency(@order.meal.price, unit: "£")
>>>>>>> cfa40352eb80e5b0c3b7c0bda5758ae3d322845a


  = f.input :quantity, collection: 1..@order.meal.quantity, prompt: "Select quantity"

  #hiddenprice= @order.meal.price

<<<<<<< HEAD
  
      %p Total
    
      %p
          %span#totalshow £...
=======
  %p Total
    %p
      %span#totalshow £...
>>>>>>> cfa40352eb80e5b0c3b7c0bda5758ae3d322845a

  = f.input :credit_card_name
  = f.input :credit_card_number
  = f.input :credit_card_expiry

  = f.hidden_field :meal_id
  = f.hidden_field :price
  = f.button :submit
