/ %h1 Complete Order

%br
%br

%h3
  Meal:
  = link_to @order.meal.name, @order.meal if can? :read, @order.meal

%p 
  Chef:
  = link_to @order.meal.user.chef_name, @order.meal.user if can? :read, @order.meal.user

%p 
  Address:
  = @order.meal.user.address

%br

= simple_form_for([@order.meal, @order]) do |f|

  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  = f.input :fetch_at, as: :string, input_html: {class: "datetimepicker"}, placeholder: "Fetch at", label: false
  %br
  = f.input :comments, placeholder: "Comments", label: false

  %p 
    Quantity:
    = "#{@order.meal.quantity} available"

  %p 
    Price:
    = number_to_currency(@order.meal.price, unit: "£")

  = f.input :quantity, collection: 1..@order.meal.quantity, prompt: "Select quantity", label: false

  #hiddenprice= @order.meal.price

  %h3
    Total price: 

    %span#totalshow £...


  = f.input :credit_card_name, placeholder: "Credit card name", label: false
  %br
  = f.input :credit_card_number, placeholder: "Credit card number", label: false
  %br
  = f.input :credit_card_expiry, as: :string, input_html: {class: "datepicker"}, placeholder: "Credit card expiry date", label: false
  %br
  = f.hidden_field :meal_id
  = f.hidden_field :price
  = f.button :submit
