/ %h1 Complete Order

%br

%p 
  Meal:
  = link_to @order.meal.name, @order.meal if can? :read, @order.meal

%p 
  Chef:
  = link_to @order.meal.user.chef_name, @order.meal.user if can? :read, @order.meal.user

%p 
  Address:
  = @order.meal.user.address

%br

= simple_form_for([@order.meal, @order]) do |f|

  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  = f.input :fetch_at
  %br
  = f.input :comments

  %p 
    Quantity:
    = "#{@order.meal.quantity} available"

  %p 
    Price:
    = number_to_currency(@order.meal.price, unit: "£")

  = f.input :quantity, collection: 1..@order.meal.quantity, prompt: "Select quantity"

  #hiddenprice= @order.meal.price

  %p
    Total:
    %br
    %span#totalshow £...

  = f.input :credit_card_name
  %br
  = f.input :credit_card_number
  %br
  = f.input :credit_card_expiry
  %br
  = f.hidden_field :meal_id
  = f.hidden_field :price
  = f.button :submit
