
%h1= "Order number: ##{@order.id}"


%h2= link_to @order.meal.name, @order.meal

%h2 
  Total price:
  = number_to_currency(@order.total, unit: "£")

%p 
  By:
  = link_to @order.meal.user.chef_name, @order.meal.user

%p 
  Pick up Address:
  %br
  = @order.meal.user.address

%p 
  Ordered by:
  = @order.user.first_name

%p 
  Pick up time:
  = time_tag(@order.fetch_at)

%p 
  Quantity:
  = "#{@order.quantity} portions "

%p
  Rating:
  %br
  - if !@order.review.nil?
    = ("★" * @order.review.rating) + ("☆" * (5 - @order.review.rating))
    %br
    = link_to "edit", edit_review_path(@order.review) if can? :update, @order.review
    = link_to "remove", @order.review, :method => :delete, :data => { :confirm => 'Are you sure?' } if can? :destroy, @order.review
  - else
    = link_to "Rate", new_review_path(order_id: @order) if can? :create, Review
