= simple_form_for(@meal) do |f|

  - if @meal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@meal.errors.count, "error")} prohibited this meal from being saved:"
      %ul
        - @meal.errors.full_messages.each do |msg|
          %li= msg

  = f.association :category
  = f.input :name, label: "Name of the dish"
  = f.input :description
  = f.input :price
  = f.input :quantity, collection: 0..50, prompt: "Select quantity"
  = f.input :start_at, as: :string, input_html: {class: "datetimepicker"}
  = f.input :end_at, :as => :string, input_html: {class: "datetimepicker"}
  = f.button :submit
