%h1 Tonight's meals

%button{id: "locator"} Get location

= form_tag "/meals", method: "get" do
  = text_field_tag :latitude, @latitude
  = text_field_tag :longitude, @longitude
  %br
  Category:
  = collection_select :category, :category_id, Category.all, :id, :name, include_blank: true
  = submit_tag "Update results", id: "finder"

- @meals.each do |meal|
  = link_to meal do
    = meal.name
    &nbsp;
    = number_to_currency(meal.price, unit: "£")
    &nbsp;
    = "#{number_with_precision(meal.distance, precision: 1)} miles"
    = Geocoder::Calculations.compass_point(meal.bearing)

= paginate @meals

- if current_user
  %div
  - if current_user.role? :chef
    = link_to "Cooking tonight? Add a meal!", new_meal_path if can? :create, Meal
  - else
    = link_to "Want to cook? Become a chef!", edit_user_path(current_user)
