%h1 Tonight's meals

%button{id: "locator"} Get location

= form_tag "/meals", method: "get", id: :search_form, remote: :true do
  = text_field_tag :latitude, @latitude
  = text_field_tag :longitude, @longitude
  %br
  Search for a meal: 
  = text_field_tag :search, params[:search], placeholder: "search for a meal"
  %br
  Category:
  = collection_select :category, :category_id, Category.all, :id, :name, {prompt: "All categories", selected: params[:category]&&params[:category][:category_id]}
  %br
  = submit_tag "Update results", id: "finder", class: "btn"

-if !@meals.blank? 
  %ul
    #meal_list
      = render @meals
-else
  %p There aren't any meals in that category yet.  

/ = paginate @meals

- if current_user
  %div
  - if current_user.role? :chef
    = link_to "Cooking tonight? Add a meal!", new_meal_path if can? :create, Meal
  - else
    = link_to "Want to cook? Become a chef!", edit_user_path(current_user)
