%h1 Tonight's meals

= form_tag "/meals", method: "get", id: :search_form, remote: :true do
  = text_field_tag :search, params[:search], placeholder: "search for a meal"
  %br
  = collection_select :category, :category_id, Category.all, :id, :name, {prompt: "All categories", selected: params[:category]&&params[:category][:category_id]}
  = submit_tag "Update results", id: "searchbutton", class: "btn"

#loadingDiv LOADING!!!

Map
#desktop_meals

/ = paginate @meals

- if current_user
  %div
  - if current_user.role? :chef
    = link_to "Cooking tonight? Add a meal!", new_meal_path, class: "btn" if can? :create, Meal
  - else
    = link_to "Want to cook? Become a chef!", edit_user_path(current_user), class: "btn"

#useragent{"data-ua" => "desktop"}
