%h1
  = @meal.name
 
  = link_to "order", new_meal_order_path(@meal), class: "btn"

%br

%p 
  Description:
  = @meal.description

%p 
  Category:
  =@meal.category.name


%p 
  Quantity:
  = "#{@meal.quantity} portions available"


%p 
  Price: 
  = "#{number_to_currency(@meal.price, unit: "£")} /portion"

%p 
  Availability:
  %br
  = time_tag(@meal.start_at)
  %br
  = time_tag(@meal.end_at)

%br

.chef_shortinfo
  = link_to @meal.user do

    %p
      = image_tag(@meal.user.image.thumb.url)

    %p
      = @meal.user.chef_name

    %p
      = @meal.user.name
    %p
      - if @meal.user.average_rating.blank?
        No reviews yet
      - else
        = "Avg. rating: #{@meal.user.average_rating}"
    %p
      - if !@meal.user.address_line_1.blank?
        = @meal.user.address_line_1
        %br
      - if !@meal.user.address_line_2.blank?
        = @meal.user.address_line_2
        %br
      - if !@meal.user.city.blank?
        = @meal.user.city
        %br
      - if !@meal.user.postcode.blank?
        = @meal.user.postcode
        %br
      - if !@meal.user.country.blank?
        = @meal.user.country



- if current_user
  = link_to "Order", new_meal_order_path(@meal), class: "btn" if can? :create, Order
- else
  Want to order?
  = link_to "Log in", new_user_session_path
  or
  = link_to "Register", new_user_registration_path


  = link_to "edit", edit_meal_path(@meal), class: "btn" if can? :update, @meal
  %br
  = link_to "remove", @meal, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn" if can? :destroy, @meal
