%h1
  = @meal.name
  = link_to "", edit_meal_path(@meal) if can? :update, @meal
  = link_to "✘", @meal, :method => :delete, :data => { :confirm => 'Are you sure?' } if can? :destroy, @meal

%br

.row
  .col-xs-3
    %p.pull-right
      %b Description
  .col-xs-9
    %p= @meal.description

.row
  .col-xs-3
    %p.pull-right
      %b Category
  .col-xs-9
    %p= @meal.category.name
.row
  .col-xs-3
    %p.pull-right
      %b Quantity
  .col-xs-9
    %p= "#{@meal.quantity} portions available"

.row
  .col-xs-3
    %p.pull-right
      %b Price
  .col-xs-9
    %p= "#{number_to_currency(@meal.price, unit: "£")} per portion"

.row
  .col-xs-3
    %p.pull-right
      %b Availability
  .col-xs-9
    %p
      = time_tag(@meal.start_at)
      %br
      = time_tag(@meal.end_at)

%br

= link_to @meal.user do
  .panel.panel-default
    .panel-body
      .pull-right
        - if !@meal.user.address_line_1.blank?
          = @meal.user.address_line_1
          %br
        - if !@meal.user.address_line_2.blank?
          = @meal.user.address_line_2
          %br
        - if !@meal.user.city.blank?
          = @meal.user.city
          %br
        - if !@meal.user.postcode.blank?
          = @meal.user.postcode
          %br
        - if !@meal.user.country.blank?
          = @meal.user.country
          %br
      %p
        %b
          = @meal.user.chef_name
        %br
        %i
          = @meal.user.name
      %p
        - if @meal.user.average_rating.blank?
          No reviews yet
        - else
          = "Avg. rating: #{@meal.user.average_rating}"

- if current_user
  = link_to "Place order!", new_meal_order_path(@meal) if can? :create, Order
- else
  Want to order?
  = link_to "Log in", new_user_session_path
  or
  = link_to "Register", new_user_registration_path
