!!!
%html
  %head
    / %title UberCook
    %link{:href => "http://fonts.googleapis.com/css?family=Pacifico", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Pacifico", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .title_image

    = render partial: "/layouts/navbar"
    = render partial: "/layouts/alerts"
    

    %h1.title_font SecondChef
    .main_part
      = yield
    = render partial: "/layouts/footer"
