!!!
%html
  %head
    / %title UberCook
    %meta{:content => "width=device-width", :name => "viewport"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Pacifico", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Pacifico", :rel => "stylesheet", :type => "text/css"}/

    %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBvDiYbKzFPKM_qeHzUCDNis_JsqIHIP0A", :type => "text/javascript"}
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render partial: "/layouts/navbar"
    = render partial: "/layouts/alerts"
    
    - if params[:controller] == "meals" && params[:action] == "index" 
      .title_image
        / %h1.title_font SecondChef
    
    %main
      = yield

    %div.clearfix
    = render partial: "/layouts/footer"

    